<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1" style="color: brown;">Mi Bitácora</h1>
            <h3 class="mb-5">
                <em style="color: black;">Almacena tus links favoritos</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">Comenzar</a>
        </div>
        <div class="overlay"></div>
    </header>
</main>